@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width:48rem){
    html {
        font-size: 62.5%;
    }
    body {
        font-size: 1.6rem;
    }
    
}
@media (max-width:20rem){
    html {
        font-size: 50%;
    }
    body {
        font-size: 1.4rem;
    }
    
    
}